* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  width: 100%;
  min-height: 100vh;
  background: rgb(189, 231, 189);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  gap: 30px;
}

form {
  width: 400px;
  padding: 20px;
  background: #333;
  color: #fff;
  margin-bottom: 10px;
}

form h1 {
  margin-bottom: 20px;
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form label span {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

form input {
  padding: 8px 10px;
  width: 100%;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  border: none;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
}

.submit-button {
  background: rgb(16, 252, 16);
}
.clear-button {
  background: rgb(240, 88, 88);
}

button:disabled {
  background: #999;
  cursor: not-allowed;
  color: #fff;
}

p{
  text-align: center;
  margin-top: .3em;
}

.success{
  color: #3DF4CF;
}

.error{
  color: #FF1c24;
}
